<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <h2>フォローユーザー <%= @followings.count %>人</h2>
        <ul>
            <% @followings.each do |following| %>
                <li><%= link_to following.name, following %>さん</li>
            <% end %>
        </ul>
        <h2>フォロワーユーザー <%= @followers.count %>人</h2>
        <ul>
            <% @followers.each do |follower| %>
                <li><%= link_to follower.name, follower %>さん</li>
            <% end %>
        </ul>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
    <div class="col-md-8">
        <h3>Profile</h3>
        <h4>＜自己紹介＞</h4>
        <p><%= @user.introduction %></p>
        <h4>＜名前＞</h4>
        <p><%= @user.name %></p>
        <h4>＜地域＞</h4>
        <p><%= @user.region %></p>
    </div>
</div>

<% if current_user.id == @user.id %>
    <p>
      <span class="btn btn-primary"><%= link_to "プロフィールを編集する", edit_user_path(@user), :class => "button_link" %></span>
    </p>
<% end %>